---
---

@import "mixins/flexbox";
@import "mixins/columns";
@import "variables";
@import "elements";
@import "landing-page";
@import "layout";
@import "pricing";
@import "staff";
@import "contact";
@import "forms";
@import "navigation";
@import "footer";
@import "typewriter";
@import "bookshelf";
@import "share";
@import "404";

.tools-parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.tools-grid {
  grid-area: 1 / 1 / 2 / 6;
}

.tools-grid1 {
  grid-area: 1 / 1 / 2 / 2;
}
.tools-grid2 {
  grid-area: 1 / 2 / 2 / 3;
}
.tools-grid3 {
  grid-area: 1 / 3 / 2 / 4;
}
.tools-grid4 {
  grid-area: 1 / 4 / 2 / 5;
}
.tools-grid5 {
  grid-area: 1 / 5 / 2 / 6;
}

.tools-img {
  height: 100%;
  width: 100%;
}
.logo {
  height: 100%;
  width: 3rem;
}
h3 {
  font-size: 1.5em;
  text-align: center;
}
.bottom-cta h3 {
  font-size: 1.5em;
  margin-bottom: 50px;
}

.tools {
  height: 25vh;
  position: relative;
  flex-direction: column;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media screen and (max-width: 1204px) {
  svg#loading {
    height: auto;
    width: 10rem;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
    text-align: justify;
  }
  h3 {
    font-size: 1.5em;
    text-align: center;
  }
  p {
    font-size: 1em;
  }
}

@media screen and (max-width: 3840px) {
  .content{
    min-height: 78vh;
  }
}

